:root {
    /* Color for the border around the accordion sections */
    var-accordion-border-color: #CCC;
    
    /* Horizontal padding for the accordion sections */
    var-accordion-padding: 10px;
    
    /* Vertical margin for the accordion headings */
    var-accordion-heading-margin: 10px;
    
    /* Time for the slide in animation */
    var-accordion-slide-in-time: 0.3s;
    
    /* Time for the slide out animation */
    var-accordion-slide-out-time: 0.2s;
}
